@{
    ViewBag.Title = "About";
}
<h2>Visual Studio Everywhere - 20th Demo: WebAPP</h2>
@*<h3>@ViewBag.Message</h3>*@

<h3>Server IP: @ViewBag.ServerIP</h3>
<h3>Server Ver: @ViewBag.Version</h3>

<hr />
<img src="Logo"  />
